-- Revert [% change %]

begin transaction [% object_type %]_[% object_schema %]_[% object_name %]

drop [% object_type %] [% object_schema %].[% object_name %]

commit transaction [% object_type %]_[% object_schema %]_[% object_name %]
