-- Verify [% project %]:[% change %] on [% engine %]

do language plpgsql $$
begin
  perform (
    select schema_name
    from information_schema.schemata
    where
      schema_name = '[% object_name %]'
  );
  
  if not found then
    raise exception 'Sqitch Verification Error ([% change %])', '';
  end if;
end; $$
