-- Verify [% project %]:[% change %] on [% engine %]

do language plpgsql $$
begin
  perform (
    select table_name
    from information_schema.tables
    where
      table_type = 'BASE TABLE' and
      table_schema = '[% object_schema %]' and
      table_name = '[% object_name %]'
  );
  
  if not found then
    raise exception 'Sqitch Verification Error ([% change %])', '';
  end if;
end; $$
