-- Verify [% project %]:[% change %] on [% engine %]

  select 1/count(*)
	from information_schema.tables
  where
 		table_type = 'BASE TABLE' and
    table_schema = '[% object_schema %]' and
    table_name = '[% object_name %]'

