-- Verify [% change %]

if not exists (
  select *
  from information_schema.tables -- routines or schemata ...
  where
    table_type = '' and
    table_schema = '' and
    table_name = ''
)
  raiserror (N'Sqitch Verification Error', 20, 1) with log
