-- Verify [% change %]

if not exists (
	select *
  from information_schema.routines
  where
    routine_type = 'PROCEDURE' and
    routine_schema = '[% object_schema %]' and
    routine_name = '[% object_name %]'
)
  raiserror (N'Sqitch Verification Error ([% change %])', 20, 1) with log
