-- Verify [% change %]

if not exists (
	select *
	from information_schema.schemata
	where
		schema_name = '[% object_name %]'
)
  raiserror (N'Sqitch Verification Error ([% change %])', 20, 1) with log
