-- Verify [% change %]

if not exists (
	select name
	from sys.database_principals
	where
	  -- filter: 'R' = role
		type = 'R' and
		-- filter: role name
		name = '[% object_name %]'
)
  raiserror (N'Sqitch Verification Error ([% change %])', 20, 1) with log
