-- Verify [% change %]

if not exists (
	select *
	from information_schema.tables
  where
  	-- filter: ends with either 'table' or 'view'
		table_type like '%[% object_type %]' and -- 'BASE TABLE' or 'VIEW'
    table_schema = '[% object_schema %]' and
    table_name = '[% object_name %]'
)
  raiserror (N'Sqitch Verification Error ([% change %])', 20, 1) with log
