-- Deploy [% project %]:[% change %] to [% engine %]

[% FOREACH item IN requires -%]
-- requires: [% item %]
[% END -%]
[% FOREACH item IN conflicts -%]
-- conflicts: [% item %]
[% END -%]

-- TODO: Amend SQL for Deploy [% change %]

create schema [% object_name %]
  authorization <user>
