-- Deploy [% project %]:[% change %] to [% engine %]

[% FOREACH item IN requires -%]
-- requires: [% item %]
[% END -%]
[% FOREACH item IN conflicts -%]
-- conflicts: [% item %]
[% END -%]

-- TODO: Amend SQL for Deploy [% change %]
create user [% object_name %]
  for login [[% login_name %]]
  with default_schema = [[% object_schema %]]
