-- Deploy [% change %]

[% FOREACH item IN requires -%]
-- requires: [% item %]
[% END -%]
[% FOREACH item IN conflicts -%]
-- conflicts: [% item %]
[% END -%]

begin transaction [% object_type %]_[% object_schema %]_[% object_name %]

create [% object_type %] [% object_schema %].[% object_name %] -- ...

commit transaction [% object_type %]_[% object_schema %]_[% object_name %]
