-- Deploy [% change %]

[% FOREACH item IN requires -%]
-- requires: [% item %]
[% END -%]
[% FOREACH item IN conflicts -%]
-- conflicts: [% item %]
[% END -%]

create procedure [% object_schema %].[% object_name %] as
	begin
	  -- TODO: Amend SQL for Deploy [% change %]
	end